# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.CSharpCoding.iml
# Datasource local storage ignored files
/../../../../../../:\github_repo\CSharpCoding\.idea\.idea.CSharpCoding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
