@page
@model IndexModel
@{
    ViewData["Title"] = "Response Caching Sample";
}


<h1>@ViewData["Title"]</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Instrutions</h3>
    </div>
    <div class="panel-body">
        <p>This sample illustrates the usage of response caching in ASP.NET Core to accompany <a href="https://docs.microsoft.com/aspnet/core/performance/caching/response">Response caching in ASP.NET Core</a>.</p>
        <p>Use broswer tools to see the response headers of the cache pages after they load.</p>
    </div>
    <button onclick="addCookie('test',123,1)">点我</button>
    <button onclick="getCookie('test')">读我</button>
</div>
<script>
    function addCookie(objName, objValue, objHours) {
        var str = objName + "=" + escape(objValue); //编码
        if (objHours > 0) {//为0时不设定过期时间，浏览器关闭时cookie自动消失
            var date = new Date();
            var ms = objHours * 3600 * 1000;
            date.setTime(date.getTime() + ms);
            str += "; expires=" + date.toGMTString();
        }
        document.cookie = str;
    };


    function getCookie(objName) {//获取指定名称的cookie的值
        var arrStr = document.cookie.split("; ");
        for (var i = 0; i < arrStr.length; i++) {
            var temp = arrStr[i].split("=");
            if (temp[0] == objName) return unescape(temp[1]);  //解码
        }
        return "";
    }
</script>